body{
    font-family: sans-serif;

}
hr{
    height: 3px;
    background: #000;
}
.sbt{
    font-size:17px;
    font-weight: bold;
;    background: #000;
    color:#fff;
}
#container{
    margin:40px auto;
    width: 1000px;
    
}
table{

    background: #fff;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}
th, td{
    padding: 20px;
    
}
thead{
    background-color:#000;

    color: #fff;
}
tr:nth-child(even){
    background-color: #ddd;
}

a{
    text-decoration: none;
    color:darkred;
    font-weight: bold;
    
}