*{
    font-family: sans-serif;
}
hr{
    height: 3px;
    background: #000;
}
input[type=text]{
    
    border-radius: 5px;
    width:230px;
    height: 25px;
    font-size: 15px;

}
input[type=submit]{
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background: #000;
    color: #fff;
    border:none;
    font-size: 15px;
}